<article class="post">
    <div class="title-wrapper">
        <h2 class="title">{{title}}</h2>
        <p>Posted by {{username}} on {{created_at}}</p>
    </div>
    <div class="post-text">
        {{text}}
    </div>
</article>