<article class="post">
    <div class="title-wrapper">
        <h2 class="title">{{post.title}}</h2>
        <p>Posted by {{user.username}} on {{createdAt}}</p>
    </div>
    <div class="post-text">
        {{text}}
    </div>
</article>