<section class="add-post">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>Add a Post</h2>
    <form class="add-post">
        <div>
            <label for="post-title"></label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-text"></label>
            <input type="text" id="post-text" name="post-text" />
        </div>
        <button type="submit">Create</button>
    </form>
</section>