<h2><a href="/dashboard">Dashboard</a></h2>
{{#if posts.length}}
<section>
    <h2>Your posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<a href="/dashboard/add">Add a post</a>